.volume_box {
	background-color: #191919;
	background-size: 100% 200%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border: 2.1px solid #090909;
	color: white;
	border-radius: 50px;
	min-width: 35px;
	margin-right: 10px;
}
.volume_box.true {
	background-image: linear-gradient(45deg, #F65B5B 100%);
}
.volume_box.false {
	background-image: repeating-linear-gradient(45deg, #F65B5B, #F65B5B 1.5%, transparent 1.5%, transparent 2%);
}

.volume_box .icon {
	margin-bottom: 10px;
	font-size: 2em;
}
